page-contrack {
  /*.bg{
    background: #e7e5e5;
  }*/
    div.row-login-title{
        position:absolute;
        left: -72%;
        // right: 0;
        margin: auto;
        // top:90px;
        width: 250%;
        transform:translateY(-10%);
        
    }
    button.test{
        color: green($color: #000000);
    }
    div.row-login-title3{
        position:absolute;
        left: 25%;
        // right: 0;
        margin: auto;
        // top:90px;
        width: 50%;
        transform:translateY(430%);
        
    }
}
