<ion-header class="no-scroll" >
  <ion-navbar color="secondary">
    <button  ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ติดต่อเรา</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="no-scroll  bg">
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
        <div class="row-login-title">
          <img src="assets/imgs/contact.png">
        </div>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  
  </ion-content>
  <ion-grid>
      <ion-row>
        <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
          <div class="row-login-title3">
            <img src="assets/imgs/logo.png" >
          </div>
        </ion-col>
      </ion-row>
      
    </ion-grid>
    