<ion-header class="no-scroll">
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ตรวจสอบสถานะสินค้า</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="masters">
  <div *ngFor="let order of orderLog">
  <hr>
  <p style="text-align: center">
    รหัสการส่ง : <font color="Black">{{order.order_id}}</font>
  </p>
  <ion-card no-padding margin-top style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);color:#FFFFFF;border-radius: 0px 0px 0px 0px;background-color:rgba(0,0,0,0) !important">
    <ion-item>
      <ion-grid>
          <ion-row>
              <ion-col col-6>
                เวลา - 
              </ion-col>
              <ion-col col-6>
                {{order.order_time}}
              </ion-col>
            </ion-row>
        <ion-row>
          <ion-col col-6>
            รับของที่ - 
          </ion-col>
          <ion-col col-6>
            {{order.place_start}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            ส่งของที่ -
          </ion-col>
          <ion-col col-6>
            {{order.place_destination}}
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-6>
              ผู้ส่งสินค้า
            </ion-col>
            <ion-col col-6>
              {{order.sender_name}}
            </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col col-6>
                โทร. 
              </ion-col>
              <ion-col col-6>
                {{order.sender_phone}}
              </ion-col>
            </ion-row>
        <ion-row>
          <ion-col col-6>
            ผู้รับสินค้า
          </ion-col>
          <ion-col col-6>
            {{order.receiver_name}}
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-6>
              โทร. 
            </ion-col>
            <ion-col col-6>
              {{order.receiver_phone}}
            </ion-col>
          </ion-row>

        <ion-row>
          <ion-col col-6>
            ระยะทาง
          </ion-col>
          <ion-col col-6>
            ไม่เกิน 15 กิโลเมตร
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            สถานะ
          </ion-col>
          <ion-col col-6>
            <font color="Yellow">รอการติดต่อจากพนักงาน</font>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            การเรียกเก็บเงิน
          </ion-col>
          <ion-col col-6>
            ปลายทาง
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-6>
              ผู้ขับขี่
            </ion-col>
            <ion-col col-6>
              001
            </ion-col>
          </ion-row>

      </ion-grid>
      <br>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-grid>

        <ion-row>
          <ion-col col-9>
            ส่วนลด
          </ion-col>
          <ion-col col-3>
            {{order.discount}} ฿
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-9>
              โปรโมชั่น
            </ion-col>
            <ion-col col-3>
              0 ฿
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col col-9>
                ค่าใช้จ่ายตามระยะทาง
              </ion-col>
              <ion-col col-3>
                {{order.transport_price}} ฿
              </ion-col>
            </ion-row>


      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-9>
            รวม
          </ion-col>
          <ion-col col-3>
            <font color="Primary"> {{order.total_price}} ฿</font>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>


  <hr>
  </div>
</ion-content>