<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="no-scroll">
  <ion-navbar color="secondary">
    <ion-title>สมัครสมาชิก</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="no-scroll bg">
  <div class="test">
    <ion-list>
      <ion-item>
        <ion-label color="secondary" stacked>
          <ion-icon name="mail"></ion-icon>&nbsp;Email
        </ion-label>
        <ion-input placeholder="Username"  type="text" [(ngModel)]="username"></ion-input>
        <ion-input placeholder="Password"  type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="secondary" stacked>
          <ion-icon name="contact"></ion-icon>&nbsp;ชื่อ-สกุล
        </ion-label>
        <ion-input placeholder="ชื่อ"  type="text" [(ngModel)]="name"></ion-input>
        <ion-input placeholder="นามสกุล"   type="text"  [(ngModel)]="lastname"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label class="text" color="secondary" ><ion-icon name=""></ion-icon>&nbsp;เบอร์โทร</ion-label>
          <ion-input type="number" placeholder="เบอร์โทรศัพท์เคลื่อนที่"  [(ngModel)]="phone" ></ion-input>
        </ion-item>
        <button  color="secondary" ion-button full (click)="register()">ยืนยันการสมัคร</button>
    </ion-list>
  
  </div>
</ion-content>