page-register {
    div.test{
        background: #e7e5e5;
        transform:translateY(20%);
        width: 100%;
    }
    ion-label.text{
        color: rgb(17, 158, 17);
        font-size: 95%
    }
}
