<ion-header class="no-scroll">
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bike And Furious</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="no-scroll bg">
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
        <div class="row-login-title">
          <img src="assets/imgs/3.png" (click)="mapModal1()">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
        <div class="row-login-title1">
          <img src="assets/imgs/1.png" (click)="mapModal2()">
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

  <div class="test">

    <ion-list>
      <ion-item>
        <ion-label class="text" color="secondary">
          <ion-icon name="fastforward"></ion-icon>&nbsp;สถานที่รับของ
        </ion-label>
        <ion-input placeholder="ใส่ข้อมูลสถานที่รับของ" [(ngModel)]="place_start"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="secondary" stacked>หมายเหตุ</ion-label>
        <ion-input placeholder="หมายเหตุ" [(ngModel)]="place_start_note"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="text" color="secondary">
          <ion-icon name="archive"></ion-icon>&nbsp;สถานที่ปลายทาง
        </ion-label>
        <ion-input placeholder="ใส่ข้อมูลสถานที่ปลายทาง" [(ngModel)]="place_destination"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="secondary" stacked>หมายเหตุ</ion-label>
        <ion-input placeholder="หมายเหตุ" [(ngModel)]="place_destination_note"></ion-input>
      </ion-item>

    </ion-list>
  </div>

  <br>

  <div class="test1">
    <ion-list>
      <ion-item>
        <ion-label class="text" color="secondary">
          <ion-icon name="contact"></ion-icon>&nbsp;ชื่อผู้ส่ง
        </ion-label>
        <ion-input placeholder="ชื่อผู้ติดต่อ" [(ngModel)]="sender_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="text" color="secondary">
          <ion-icon name=""></ion-icon>&nbsp;เบอร์โทร
        </ion-label>
        <ion-input type="tel" placeholder="เบอร์โทรศัพท์ผู้ติดต่อ" [(ngModel)]="sender_phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="text" color="secondary">
          <ion-icon name="contact"></ion-icon>&nbsp;ชื่อผู้รับ
        </ion-label>
        <ion-input placeholder="ชื่อผู้ติดต่อ" [(ngModel)]="receiver_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="text" color="secondary">
          <ion-icon name=""></ion-icon>&nbsp;เบอร์โทร
        </ion-label>
        <ion-input type="tel" placeholder="เบอร์โทรศัพท์ผู้รับ" [(ngModel)]="receiver_phone"></ion-input>
      </ion-item>

      <ion-item no-lines>
        <ion-label color="secondary">เลือกการบริการ</ion-label>
        <ion-select [(ngModel)]="service_type">
          <ion-option value="เอกสารทั่วไป" selected>เอกสารทั่วไป</ion-option>
          <ion-option value="พัสดุ(ไม่เกิน50x50x50ซม.20กก.)">พัสดุ(ไม่เกิน50x50x50ซม.20กก.)</ion-option>
          <ion-option value="อาหาร">อาหาร</ion-option>

        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label color="secondary" stacked>หมายเหตุ</ion-label>
        <ion-input placeholder="ติดต่อรปภ จำนวนเงินที่ต้องเก็บ..." [(ngModel)]="note"></ion-input>
      </ion-item>

    </ion-list>
  </div>

  <div class="test2">
    <ion-list>

      <ion-item no-lines>
        <ion-label color="secondary">ใช้แต้มสะสม</ion-label>
        <ion-select [(ngModel)]="user_point_use">
          <ion-option value="5" selected>100 B&F</ion-option>
          <ion-option value="10">200 B&F</ion-option>
          <ion-option value="25">500 B&F</ion-option>

        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="secondary">ส่วนลด</ion-label>
        <ion-label color="danger" text-right>{{user_point_use}} บาท</ion-label>
      </ion-item>

      <ion-item>
        <ion-label color="secondary">ค่าขนส่ง</ion-label>
        <ion-label text-right>{{transport_price}} บาท</ion-label>
      </ion-item>

      <ion-item>
        <ion-label color="secondary">รวมทั้งสิ้น</ion-label>
        <ion-label color="primary" text-right>{{transport_price-user_point_use}} บาท</ion-label>
      </ion-item>
    </ion-list>

  </div>
  <div class="test3">
  <button color="secondary" ion-button full (click)="presentConfirm()">ยืนยันการส่ง</button>
 
</div>



  <!-- 
  <ion-grid>
      <ion-row>
        <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
          <div class="row-login-title3">
            <img src="assets/imgs/logo.png" >
          </div>
        </ion-col>
      </ion-row>
      
    </ion-grid>-->
</ion-content>