page-home {
    ion-content{
        background-color:green;
    }
    div.row-login-title{
        position:absolute;
        left: -10%;
        // right: 0;
        margin: auto;
        // top:90px;
        width: 120%;
        transform:translateY(10%);    
    }
    div.row-login-title1{
        position:absolute;
        left: -10%;
        // right: 0;
        margin: auto;
        // top:90px;
        width: 120%;
        transform:translateY(100%);
        
    }
    div.test{
        background: #e7e5e5;
        transform:translateY(55%);
        width: 100%;
    }
    ion-label.text{
        color: rgb(17, 158, 17);
        font-size: 95%
    }
    div.row-login-title3{
        position:absolute;
        left: 25%;
        // right: 0;
        margin: auto;
        // top:90px;
        width: 50%;
        transform:translateY(172%);
        
    }
    div.test1{
        background: #e7e5e5;
        transform:translateY(40%);
        width: 100%;
    }
    ion-label.text{
        color: rgb(17, 158, 17);
        font-size: 95%
    }
    div.test2{
        background: #e7e5e5;
        transform:translateY(70%);
        width: 100%;
    }
    ion-label.text{
        color: rgb(17, 158, 17);
        font-size: 95%
    }
    div.test3{
        background: #e7e5e5;
        transform:translateY(300%);
        width: 100%;
    }
}
