page-map2 {
    div.row-login-title{
        position:absolute;
        left: -118%;
        // right: 0;
        margin: auto;
        // top:90px;
        width: 500%;
        transform:translateY(-2%);
        
    }
    div.row-login-title1{
        position:absolute;
        left: -10%;
        // right: 0;
        margin: auto;
        // top:90px;
        width: 115%;
        transform:translateY(75%);
        
    }
    div.row-login-title2{
        position:absolute;
        left: -5%;
        // right: 0;
        margin: auto;
        // top:90px;
        width: 115%;
        transform:translateY(-45%);
        
    }
}
