<ion-content padding class="no-scroll">
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
        <div class="row-login-title">
          <img src="assets/imgs/map2.png">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
        <div class="row-login-title1">
          <img src="assets/imgs/datamap2.png">
        </div>
      </ion-col>
    </ion-row>
    
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
        <div class="row-login-title2">
          <img src="assets/imgs/data2.png" (click)="goTohome()">
        </div>
      </ion-col>
    </ion-row>
    
  </ion-grid>

</ion-content>