page-loin {
ion-content{
        background-color:rgb(255, 255, 255);
    }
    div.row-login-title{
        position:absolute;
        left: 16%;
        // right: 0;
        margin: auto;
        // top:90px;
        width: 80%;
        transform:translateY(10%);
        
    }
    div.row-loginbutton{
        position:absolute;
        left: 25%;
        // right: 0px;
        margin: auto;
        top:0px;
        transform:translateY(390px);
        width:110px;
    }
    div.row-cancle{
        position:absolute;
        // left: 60%;
        right: 25%;
        margin: auto;
        top:0px;
        transform:translateY(410px);
        width:45px;
    }
    div.row-footer{
        position:absolute;
        left: 0px;
        right: 0px;
        margin: auto;
        top:10px;
        transform:translateY(495px);
        width:110px;
    }
    div.list{
        position:absolute;
        // left: 0px;
        right: 5%;
        margin: auto;
        top:28px;
        transform:translateY(240px);
        width:80%;
        font-size: 13px;  
       
    
    }
    div.list1{
        position:absolute;
        // left: 0px;
        right: 5%;
        margin: auto;
        top:18px;
        transform:translateY(300px);
        width:80%;
        font-size: 13px;
        
    }
    div.Forget{
        position:absolute;
        left: 20%;
        // right: 50px;
        margin: auto;
        top:10px;
        transform:translateY(360px);
        width:60%;
        font-size: 12px;
        text-decoration: underline;
    }
    div.New{
        position:absolute;
        // left: 200px;
        right: 15%;
        margin: auto;
        top:10px;
        transform:translateY(360px);
        // width:60%;
        font-size: 12px;
        text-decoration: underline;
    }
    div.row-login-title3{
        position:absolute;
        left: 25%;
        // right: 0;
        margin: auto;
        // top:90px;
        width: 50%;
        transform:translateY(430%);
        
    }
}
