<ion-content padding class="no-scroll">
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
        <div class="row-login-title">
          <img src="assets/imgs/logo1.png">
        </div>
      </ion-col>
    </ion-row>
    
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-12 col-lg-12 col-xl-12>
        <div class="row-loginbutton">
          <img src="assets/imgs/login.png" (click)="goTomenu()">
        </div>
        <!-- <div >
          <input class="w3-input w3-border w3-round-xxlarge" name="url" type="text" placeholder="URL"  [(ngModel)]="url">
        </div> -->
        <div class="list">
          <input class="w3-input w3-border w3-round-xxlarge" name="username" type="text" placeholder="username"  [(ngModel)]="username">
        </div>
        <div class="list1">
          <input class="w3-input w3-border w3-round-xxlarge" name="pass" type="password" placeholder="Password" [(ngModel)]="password">
        </div>
        <div class="Forget">
          <a>Forget Password?</a>
        </div>
        <div class="New" (click)="goToregis()">
          <a>New User?</a>
        </div>
        <div class="row-cancle">
          <img src="assets/imgs/cancle.png" (click)="httpFunction()">
        </div>

        <div class="row-footer">
          <img src="">
        </div>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-grid>
  <ion-row>
    <ion-col col-12 col-md-6 col-lg-4 col-xl-3>
      <div class="row-login-title3">
        <img src="assets/imgs/logo.png" >
      </div>
    </ion-col>
  </ion-row>
  
</ion-grid>
