<ion-header class="no-scroll">
    <ion-navbar color="secondary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>ประวัติผู้ขับขี่</ion-title>
    </ion-navbar>
  </ion-header><br><br><br><br>

  <ion-content padding  class="no-scroll bg">
  <ion-list style="background-color:rgba(0,0,0,0) !important">
    <ion-card style="box-shadow: 0 4px 8px 0 rgba(104, 228, 66, 0.2);color:rgb(170, 241, 77);border-radius: 0px 0px 0px 0px;background-color:rgba(133, 233, 66, 0) !important">
      <ion-card-content style="background-color:#8ac744 !important;border-radius: 10px 10px 0px 0px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);color:#FFFFFF;">
          <ion-card-content style="background-color:#131411 !important;border-radius: 10px 10px 0px 0px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);color:#FFFFFF;">
        <ion-list>
          <ion-item style="background-color:rgba(0,0,0,0) !important;color:#FFFFFF !important">
            <ion-thumbnail item-start>
              <img src="assets/imgs/55.jpg">
            </ion-thumbnail>
            <h2 class="text">นายเท่ เท่เกินไป</h2>
  
          </ion-item>
  
        </ion-list>
        </ion-card-content>
      </ion-card-content>
      <ion-card-content style="background-color:rgb(226, 250, 198) !important;border-radius: 0px 0px 10px 10px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0px">
        <ion-row style="background-color:transparent !important;padding:10px">
  
          <ion-item style="background-color:transparent !important;color:rgb(126, 187, 57)">
            <ion-icon item-start ios="ios-man" md="md-man"></ion-icon>
            <h5><b>นายเท่ เท่เกินไป</b></h5>
          </ion-item>
  
          <ion-item style="background-color:transparent !important;color:rgb(126, 187, 57)">
            <ion-icon item-start ios="ios-card" md="md-card"></ion-icon>
            <h5><b>001</b></h5>
            <h5></h5>
          </ion-item>
          <ion-item style="background-color:transparent !important;color:rgb(126, 187, 57)">
            <ion-icon item-start ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>
            <h5><b>098-7654321</b></h5>
            <h5></h5>
          </ion-item>
    
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-grid>
 
        
      </ion-grid>
      </ion-list>
      

      <hr>


      <ion-list style="background-color:rgba(0,0,0,0) !important">
        <ion-card style="box-shadow: 0 4px 8px 0 rgba(104, 228, 66, 0.2);color:rgb(170, 241, 77);border-radius: 0px 0px 0px 0px;background-color:rgba(133, 233, 66, 0) !important">
          <ion-card-content style="background-color:#8ac744 !important;border-radius: 10px 10px 0px 0px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);color:#FFFFFF;">
              <ion-card-content style="background-color:#131411 !important;border-radius: 10px 10px 0px 0px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);color:#FFFFFF;">
            <ion-list>
              <ion-item style="background-color:rgba(0,0,0,0) !important;color:#FFFFFF !important">
                <ion-thumbnail item-start>
                  <img src="assets/imgs/66.png">
                </ion-thumbnail>
                <h2 class="text">นางสาวอ้อย</h2>
      
              </ion-item>
      
            </ion-list>
            </ion-card-content>
          </ion-card-content>
          <ion-card-content style="background-color:rgb(226, 250, 198) !important;border-radius: 0px 0px 10px 10px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0px">
            <ion-row style="background-color:transparent !important;padding:10px">
      
              <ion-item style="background-color:transparent !important;color:rgb(126, 187, 57)">
                <ion-icon item-start ios="ios-man" md="md-man"></ion-icon>
                <h5><b>นางสาวอ้อย</b></h5>
              </ion-item>
      
              <ion-item style="background-color:transparent !important;color:rgb(126, 187, 57)">
                <ion-icon item-start ios="ios-card" md="md-card"></ion-icon>
                <h5><b>002</b></h5>
                <h5></h5>
              </ion-item>
              <ion-item style="background-color:transparent !important;color:rgb(126, 187, 57)">
                <ion-icon item-start ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>
                <h5><b>09-788888</b></h5>
                <h5></h5>
              </ion-item>

            </ion-row>
          </ion-card-content>

          


        </ion-card>
        <ion-grid>
     
            
          </ion-grid>
          </ion-list>
          


          <hr>


      <ion-list style="background-color:rgba(0,0,0,0) !important">
        <ion-card style="box-shadow: 0 4px 8px 0 rgba(104, 228, 66, 0.2);color:rgb(170, 241, 77);border-radius: 0px 0px 0px 0px;background-color:rgba(133, 233, 66, 0) !important">
          <ion-card-content style="background-color:#8ac744 !important;border-radius: 10px 10px 0px 0px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);color:#FFFFFF;">
              <ion-card-content style="background-color:#131411 !important;border-radius: 10px 10px 0px 0px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);color:#FFFFFF;">
            <ion-list>
              <ion-item style="background-color:rgba(0,0,0,0) !important;color:#FFFFFF !important">
                <ion-thumbnail item-start>
                  <img src="assets/imgs/story.jpg">
                </ion-thumbnail>
                <h2 class="text">นายกล้วยหอม</h2>
      
              </ion-item>
      
            </ion-list>
            </ion-card-content>
          </ion-card-content>
          <ion-card-content style="background-color:rgb(226, 250, 198) !important;border-radius: 0px 0px 10px 10px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);padding:0px">
            <ion-row style="background-color:transparent !important;padding:10px">
      
              <ion-item style="background-color:transparent !important;color:rgb(126, 187, 57)">
                <ion-icon item-start ios="ios-man" md="md-man"></ion-icon>
                <h5><b>นายกล้วยหอม</b></h5>
              </ion-item>
      
              <ion-item style="background-color:transparent !important;color:rgb(126, 187, 57)">
                <ion-icon item-start ios="ios-card" md="md-card"></ion-icon>
                <h5><b>003</b></h5>
                <h5></h5>
              </ion-item>
              <ion-item style="background-color:transparent !important;color:rgb(126, 187, 57)">
                <ion-icon item-start ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>
                <h5><b>09-999999</b></h5>
                <h5></h5>
              </ion-item>

            </ion-row>
          </ion-card-content>

          


        </ion-card>
        <ion-grid>
     
            
          </ion-grid>
          </ion-list>
      </ion-content>