<ion-header class="no-scroll" >
  <ion-navbar color="secondary"> 
    <ion-title>ค้นหาสถานที่</ion-title>

    
        
   
  </ion-navbar>
</ion-header>

<ion-content   >
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
 
          <ion-input id="autocomplete" type="text"  placeholder="search for location"    ></ion-input>
 
<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>

  <button  color="secondary" ion-button full (click)="dismiss()">OK</button> 
 <!--  <div><p class="a">latitude : {{ latitude}} </p></div>
  <div><p class="a">longitude : {{ longitude}} </p></div>-->
</ion-content>

