page-story {
    page-user-profile {
        // div.row-profile{
        //     position:absolute;
        //     left: 25%;
        //     // right: 0;
        //     margin: auto;
        //     // top:90px;
        //     width: 110%;
        //     transform:translateY(5%);
            
        // }
        // p.a{  
        //     color: rgb(134, 138, 138);
        //     line-height:1.5;
        // }
        // p.b{  
        //     color: rgb(134, 138, 138);
        //     position:absolute;
        //     left: 25%;
        //     // right: 0;
        //     margin: auto;
        //     // top:90px;
        //     width: 110%;
        //     transform:translateY(800%);
        // }
        // p.c{  
        //     color: rgb(134, 138, 138);
        //     position:absolute;
        //     left: 3%;
        //     // right: 0;
        //     margin: auto;
        //     // top:90px;
        //     line-height: 0.8;
        //     transform:translateY(90%);
        // }
        // div.f{  
        //     color: rgb(134, 138, 138);
        //     position:absolute;
        //     left: 3%;
        //     // right: 0;
        //     margin: auto;
        //     // top:90px;
        //     line-height: 0.8;
        //     transform:translateY(90%);
        // }
    
        // .center {
        //     display: block;
        //     margin-left: auto;
        //     margin-right: auto; 
        // }
        ion-content{
            background-color:#FAFAFA !important;
            margin:0 auto;
        }
        // .card-profile {
        //     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        //     transition: 0.3s;
        //     width: 100%;
        //     border-radius: 5px;
        //     background-color: #36bad1;
        //     margin:0 auto;
        //     color:#FFFFFF;
        // }
        // .card-content {
        //     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        //     transition: 0.3s;
        //     width: 100%;
        //     border-radius: 5px;
        //     margin:0 auto;
        //     background-color: #FFFFFF;
        // }
    }
    h2.text{
        color:white;
    }
    div.row-login-title3{
        position:absolute;
        left: 25%;
        // right: 0;
        margin: auto;
        // top:90px;
        width: 50%;
        transform:translateY(35%);
        
    }
}
